nav ul li{
	list-style-type: none;
}
.menu-left img{
	width: 60px;
	height: 60px;
}

.menu-top img{
	width: 30px;
	height: 30px;
}
.menu-top ul{
	float: right;
}
.menu-top ul li {
	display: flex;
}
.fa-search,.fa-bell,.fa-cog{
	color: red;
}