<div class="container" ng-controller="productDetail">
    <section class="row">
        <div ng-init="findProductByID()">
            <div class="card-body col-md-5">
                <div class="card float-left" style="width: 100%;">
                    <!-- image/{{product[0].image}}  -->
                    <img src="images/Shopee/12.jpg" class="img-thumbnail" width="100%">
                </div>
            </div>
            <div class="card-body col-md-7">
                <div class="card float-left" style="width: 100%;">
                    <div class="card-header">
                        <!-- {{product[0].productName}} -->
                        <b>sen da</b>
                    </div>
                    <div class="card-body">
                        <!-- {{product[0].description}} -->
                        <p>cay canh mini</p>
                    </div>
                </div>
                <div class="note">
                    <!-- {{product[0].note}} -->
                    <i>Lưu ý:khong co chau</i>
                </div>
                <div class="footer m-5">
                    <!-- {{product[0].price}} -->
                    <h4> Giá SP: 200000000 vnd</h4>
                    <div class="row">
                        <div class="sl mr-2">
                            Số lượng:
                        </div>
                        <div class="flex2 items-center">
                            <div style="margin-right: 15px;">
                                <div class="shop-input-quantity">
                                    <input class="soluong" type="number" style="width: 5rem;" ng-model="quantity"
                                        value="1" ng-change="sumMoney(product[0].price)">
                                </div>
                            </div>
                        </div>
                        <!-- {{totalMoney}} -->
                        <p>Tổng tiền: 222222222222222</p>
                    </div>
                    <div style="margin-top: 15px;">
                        <div class="them">
                            <div class="front">
                                <input type="hidden" value="{{product[0].id}}" id="idProduct" />
                                <input type="hidden" value="{{loginUser.id}}" id="idUser" />
                                <input type="hidden" value="{{product[0].productName}}" id="productName" />
                                <input type="hidden" value="{{product[0].price}}" id="price" />
                                <input type="hidden" value="{{totalMoney}}" id="totalMoney" />
                                <input type="hidden" value="{{product[0].pictureProduct}}" id="pictureProduct" />
                                <button type="button" class="btn btn-success" ng-click="addCart()"><i
                                        class="fas fa-cart-plus" style="margin-right: 3px;"></i>THêm vào giỏ hàng
                                </button>
                                <button type="button" class="btn btn-success">Mua ngay </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="slider col">
            <div class="info">
                <h4>Sản phẩm liên quan</h4>
            </div>
            <!-- =================================== -->
            <div class="col-lg-12" ng-repeat="productByCate in productsByCategory">
                <div class="single-product-wrap">
                    <div class="product-image">
                        <a href="single-product.html">
                            <!-- update/{{productByCate.pictureProduct}} -->
                            <img src="images/Shopee/12.jpg" alt="">
                        </a>
                        <span class="sticker">New</span>
                    </div>
                    <div class="product_desc">
                        <div class="product_desc_info">
                            <div class="product-review">
                                <h5 class="manufacturer">
                                    <a href=""><img src="update/ic_Freeship.png" width="20%"></a>
                                </h5>
                                <div class="rating-box">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- {{productByCate.productName}} -->
                            <h4><a class="product_name">sen da</a></h4>
                            <div class="price-box">
                                <!-- {{productByCate.price}} -->
                                <span class="new-price">20000</span>
                            </div>
                        </div>
                        <div class="add-actions">
                            <ul class="add-actions-link">
                                <li class="add-cart active"><a class="nav-link"
                                        href="#!productDetail/{{productByCate.id}}">Mua</a></li>
                                <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart"></i></a>
                                </li>
                                <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal"
                                        data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- =================================== -->
            <div class="col-lg-12" ng-repeat="productByCate in productsByCategory">
                <div class="single-product-wrap">
                    <div class="product-image">
                        <a href="single-product.html">
                            <!-- update/{{productByCate.pictureProduct}} -->
                            <img src="images/Shopee/12.jpg" alt="">
                        </a>
                        <span class="sticker">New</span>
                    </div>
                    <div class="product_desc">
                        <div class="product_desc_info">
                            <div class="product-review">
                                <h5 class="manufacturer">
                                    <a href=""><img src="update/ic_Freeship.png" width="20%"></a>
                                </h5>
                                <div class="rating-box">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- {{productByCate.productName}} -->
                            <h4><a class="product_name">sen da</a></h4>
                            <div class="price-box">
                                <!-- {{productByCate.price}} -->
                                <span class="new-price">20000</span>
                            </div>
                        </div>
                        <div class="add-actions">
                            <ul class="add-actions-link">
                                <li class="add-cart active"><a class="nav-link"
                                        href="#!productDetail/{{productByCate.id}}">Mua</a></li>
                                <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart"></i></a>
                                </li>
                                <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal"
                                        data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- =================================== -->
            <div class="col-lg-12" ng-repeat="productByCate in productsByCategory">
                <div class="single-product-wrap">
                    <div class="product-image">
                        <a href="single-product.html">
                            <!-- update/{{productByCate.pictureProduct}} -->
                            <img src="images/Shopee/12.jpg" alt="">
                        </a>
                        <span class="sticker">New</span>
                    </div>
                    <div class="product_desc">
                        <div class="product_desc_info">
                            <div class="product-review">
                                <h5 class="manufacturer">
                                    <a href=""><img src="update/ic_Freeship.png" width="20%"></a>
                                </h5>
                                <div class="rating-box">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- {{productByCate.productName}} -->
                            <h4><a class="product_name">sen da</a></h4>
                            <div class="price-box">
                                <!-- {{productByCate.price}} -->
                                <span class="new-price">20000</span>
                            </div>
                        </div>
                        <div class="add-actions">
                            <ul class="add-actions-link">
                                <li class="add-cart active"><a class="nav-link"
                                        href="#!productDetail/{{productByCate.id}}">Mua</a></li>
                                <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart"></i></a>
                                </li>
                                <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal"
                                        data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- =================================== -->
            <div class="col-lg-12" ng-repeat="productByCate in productsByCategory">
                <div class="single-product-wrap">
                    <div class="product-image">
                        <a href="single-product.html">
                            <!-- update/{{productByCate.pictureProduct}} -->
                            <img src="images/Shopee/12.jpg" alt="">
                        </a>
                        <span class="sticker">New</span>
                    </div>
                    <div class="product_desc">
                        <div class="product_desc_info">
                            <div class="product-review">
                                <h5 class="manufacturer">
                                    <a href=""><img src="update/ic_Freeship.png" width="20%"></a>
                                </h5>
                                <div class="rating-box">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- {{productByCate.productName}} -->
                            <h4><a class="product_name">sen da</a></h4>
                            <div class="price-box">
                                <!-- {{productByCate.price}} -->
                                <span class="new-price">20000</span>
                            </div>
                        </div>
                        <div class="add-actions">
                            <ul class="add-actions-link">
                                <li class="add-cart active"><a class="nav-link"
                                        href="#!productDetail/{{productByCate.id}}">Mua</a></li>
                                <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart"></i></a>
                                </li>
                                <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal"
                                        data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--  -->
<section class="row">
    <div class="col mt-2">
        <div class="card-body">
            <p style="text-align: center;"><a href="https://www.facebook.com/sendabonsai"> Vườn Sen Đá Bonsai - Mua
                    sắm &
                    Bán lẻ</a></p>
        </div>
    </div>
</section>