<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="fontawesome-free-5.14.0-web/css/all.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

  <link rel="stylesheet" href="css/chitietSP.css">
  <link rel="stylesheet" href="css/test.css">
  <script src="js/chitietSP.js"></script>
  <!-- <script src="js/test.js"></script> -->
</head>

<body ng-app="myapp">
  <div class="container" ng-controller="myctrl">
    <header class="row m-1">
      <div class="shopping-mall pt-3 ml-">
        <h1>Shop BonSai</h1>
        <h5>Mua sắm & Bán lẻ</h5>
      </div>
    </header>
    <nav class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light col-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                <i class="fas fa-home">Trang chủ</i>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-list-alt">Giới thiệu</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-cart-arrow-down">Giỏ hàng</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-question">Hỏi đáp</i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user">Tài khoản</i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Đăng nhập</a>
                <a class="dropdown-item" href="#">Quên mật khẩu</a>
                <a class="dropdown-item" href="#">Đăng ký thành viên</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Đăng xuất</a>
                <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                <a class="dropdown-item" href="#">Cập nhật</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Đơn hàng</a>
                <a class="dropdown-item" href="#">Hàng đã mua</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="" class="nav-link">English</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Tiếng Việt</a>
            </li>
          </ul>
        </div>
      </nav>
    </nav>
    <!--  -->
    <div class="col-md mt-4">
      <div class="info">
        <h5>Chi tiết mặt hàng</h5>
      </div>
    </div>
    <hr>
    <mainform></mainform>
    <section class="row">
      <article class="card-body col-md-5">
        <div class="card float-left" style="width: 100%;">
          <img src="image/{{product.image}}" class="img-thumbnail" width="100%">
        </div>
        <hr>
      </article>

      <aside class="card-body col-md-7">
        <div class="card float-left" style="width: 100%;">
          <div class="card-header">
            <b>{{product.name}}</b>
          </div>
          <div class="card-body">
            <p> {{product.info}} </p>
          </div>
        </div>
        <div class="note">
          <i>Lưu ý: {{product.note}} </i>
        </div>
        <div class="footer m-5">
          <h4>  Giá SP: {{product.price}} vnd</h4>
          <div class="row">
            <div class="sl mr-2">
              Số lượng:
            </div>
            <div class="flex2 items-center">
              <div style="margin-right: 15px;">
                <div class="shop-input-quantity">

                  <input ng-click="tinhtien()" ng-model="number" class="soluong" type="number" min="1" max="{{max}}" value="1"  style="width: 5rem;">

                </div>
              </div>
            </div>
            <p>Tổng tiền: {{tongtien}} vnd</p>
          </div>
          <div style="margin-top: 15px;">
            <div class="them">
              <div class="front">
                <button type="button" class="btn btn-success"><i class="fas fa-cart-plus"
                    style="margin-right: 3px;"></i>THêm vào giỏ hàng
                </button>
                <button type="button" class="btn btn-success">Mua ngay </button>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </aside>
      <hr>

      <div class="slider col">
        <div class="info">
          <h4>Sản phẩm liên quan</h4>
        </div>
        <hr>
        <div class="col">
          <div class="container-fluid">
            <div class="row mt-1">
              <div class="col-sm-3">
                <div class="img-lq">
                  <img src="image/11.jpg" class="img-fluid mt-2">
                  <div class="lq1">
                    <p>Cây cảnh</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="img-lq">
                  <img src="image/11.jpg" class="img-fluid mt-2">
                  <div class="lq1">
                    <p>Cây cảnh</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="img-lq">
                  <img src="image/11.jpg" class="img-fluid mt-2">
                  <div class="lq1">
                    <p>Cây cảnh</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="img-lq">
                  <img src="image/11.jpg" class="img-fluid mt-2">
                  <div class="lq1">
                    <p>Cây cảnh</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!--  -->
  <section class="row">
    <div class="col mt-2">
      <div class="card-body">
        <p style="text-align: center;"><a href="https://www.facebook.com/sendabonsai"> Vườn Sen Đá Bonsai - Mua sắm &
            Bán lẻ</a></p>
      </div>
    </div>
  </section>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>