<!-- Begin Product Area -->
<div ng-controller="managerProduct">
    <div class="product-area pt-60 pb-100">
        <div class="container">
            <div class="li-section-title">
                <h2>
                    <span>New Arival</span>
                </h2>
            </div>
            <div class="tab-content">
                <div id="li-new-product" class="tab-pane active show" role="tabpanel">
                    <div class="row">
                        <!-- ng-init="getNewProduct()" -->
                        <div class="product-active" >
                            <!-- ng-repeat="productNew in productsNew | limitTo:8 " -->
                            <div class="col-lg-12">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <!-- update/{{productNew.pictureProduct}} -->
                                            <img src="images/Shopee/12.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href=""><img src="update/ic_Freeship.png" width="20%"></a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- {{productNew.productName}} -->
                                            <h4><a class="product_name">Sen Da</a></h4>
                                            <div class="price-box">
                                                <!-- {{productNew.price}} -->
                                                <span class="new-price">2000</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a class="nav-link" href="#!productDetail/{{productNew.id}}">Mua</a></li>
                                                <li><a class="links-details" href="wishlist.html"><i
                                                            class="fa fa-heart"></i></a></li>
                                                <li><a href="#" title="quick view" class="quick-view-btn"
                                                        data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ========================================== -->
                            <div class="col-lg-12">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <!-- update/{{productNew.pictureProduct}} -->
                                            <img src="images/Shopee/12.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href=""><img src="update/ic_Freeship.png" width="20%"></a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- {{productNew.productName}} -->
                                            <h4><a class="product_name">Sen Da</a></h4>
                                            <div class="price-box">
                                                <!-- {{productNew.price}} -->
                                                <span class="new-price">2000</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a class="nav-link" href="#!productDetail/{{productNew.id}}">Mua</a></li>
                                                <li><a class="links-details" href="wishlist.html"><i
                                                            class="fa fa-heart"></i></a></li>
                                                <li><a href="#" title="quick view" class="quick-view-btn"
                                                        data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ========================================== -->
                            <div class="col-lg-12">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <!-- update/{{productNew.pictureProduct}} -->
                                            <img src="images/Shopee/12.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href=""><img src="update/ic_Freeship.png" width="20%"></a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- {{productNew.productName}} -->
                                            <h4><a class="product_name">Sen Da</a></h4>
                                            <div class="price-box">
                                                <!-- {{productNew.price}} -->
                                                <span class="new-price">2000</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a class="nav-link" href="#!productDetail/{{productNew.id}}">Mua</a></li>
                                                <li><a class="links-details" href="wishlist.html"><i
                                                            class="fa fa-heart"></i></a></li>
                                                <li><a href="#" title="quick view" class="quick-view-btn"
                                                        data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ====================================== -->
                            <div class="col-lg-12">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <!-- update/{{productNew.pictureProduct}} -->
                                            <img src="images/Shopee/12.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href=""><img src="update/ic_Freeship.png" width="20%"></a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- {{productNew.productName}} -->
                                            <h4><a class="product_name">Sen Da</a></h4>
                                            <div class="price-box">
                                                <!-- {{productNew.price}} -->
                                                <span class="new-price">2000</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a class="nav-link" href="#!productDetail/{{productNew.id}}">Mua</a></li>
                                                <li><a class="links-details" href="wishlist.html"><i
                                                            class="fa fa-heart"></i></a></li>
                                                <li><a href="#" title="quick view" class="quick-view-btn"
                                                        data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================= -->
                            <div class="col-lg-12">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <!-- update/{{productNew.pictureProduct}} -->
                                            <img src="images/Shopee/12.jpg" alt="">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href=""><img src="update/ic_Freeship.png" width="20%"></a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- {{productNew.productName}} -->
                                            <h4><a class="product_name">Sen Da</a></h4>
                                            <div class="price-box">
                                                <!-- {{productNew.price}} -->
                                                <span class="new-price">2000</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a class="nav-link" href="#!productDetail/{{productNew.id}}">Mua</a></li>
                                                <li><a class="links-details" href="wishlist.html"><i
                                                            class="fa fa-heart"></i></a></li>
                                                <li><a href="#" title="quick view" class="quick-view-btn"
                                                        data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ========================================== -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Area End Here -->

    <!-- Begin Li's Static Banner Area -->
    <div class="li-static-banner" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class=" col-md-4 col-sm-12 col-lg-4">
                    <div class="col-inner">
                        <table style="height: 30px; width: 337px;">
                            <tbody>
                                <tr style="height: 100px;">
                                    <td style="width: 78px; height: 100px;">
                                        <img src="images/free-shipping-icon-5.jpg" width="100%" alt="">
                                    </td>
                                    <td style="width: 257px; height: 100px;"><span
                                            style="font-size: 100%; font-family: 'times new roman', times, serif;"><strong>
                                                <h4 style="color: #e14d43;">MIỄN PHÍ VẬN CHUYỂN</h4>
                                            </strong></span>
                                        <p></p>
                                        <p><span style="font-family: 'times new roman', times, serif; font-size: 115%;">Chúng
                                                tôi vận chuyển miễn phí với đơn hàng trị giá trên 1000.000 đ</span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-4">
                    <div class="col-inner">
                        <table style="height: 30px; width: 337px;">
                            <tbody>
                                <tr style="height: 100px;">
                                    <td style="width: 78px; height: 100px;">
                                        <img src="images/unnamed.jpg" width="100%" alt="">
                                    </td>
                                    <td style="width: 257px; height: 100px;"><span
                                            style="font-size: 100%; font-family: 'times new roman', times, serif;"><strong>
                                                <h4 style="color: #e14d43;">HỖ TRỢ ONLINE 24/24</h4>
                                            </strong></span>
                                        <p></p>
                                        <p><span style="font-family: 'times new roman', times, serif;"><span
                                                    style="font-size: 16.56px;">Đội tư vấn của chúng tôi sẵn sàng giúp
                                                    đỡ khi bạn gặp khó khăn</span></span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-4">
                    <div class="col-inner">
                        <table style="height: 30px; width: 337px;">
                            <tbody>
                                <tr style="height: 100px;">
                                    <td style="width: 78px; height: 100px;">
                                        <img src="images/02c16cebc10ec5655f3eb8cce0359909.jpg" width="100%" alt="">
                                    </td>
                                    <td style="width: 257px; height: 100px;"><span style="font-size: 100%;"><span
                                                style="color: #e14d43; font-family: 'times new roman', times, serif;"><b>
                                                    <h4>QUÀ
                                                        TẶNG CUỐI TUẦN</h4>
                                                </b></span></span>
                                        <p></p>
                                        <p><span style="font-family: 'times new roman', times, serif;"><span
                                                    style="font-size: 16.56px;">Khuyến mãi lớn, rinh quà tặng với mỗi
                                                    thứ 7, CN hàng tuần.</span></span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Best seller-->
    <section class="product-area li-laptop-product li-trendding-products best-sellers pb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="li-section-title">
                        <h2>
                            <span>Tất Cả Sản Phẩm</span>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="product-active">
                            <!-- single pro -->
                            <div class="col-lg-12" ng-repeat="product in products">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <!-- <img src="update/{{product.pictureProduct}}" alt="Li's Product Image"> -->
                                            <img src="images/Shopee/12.jpg" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">Hot</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4>
                                                <!-- {{product.productName}} -->
                                                <a class="product_name"
                                                    href="single-product.html">dua</a>
                                                </h4>
                                            <div class="price-box">
                                                <!-- {{product.price}} -->
                                                <span class="new-price">200000</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a class="nav-link" ng-href="#!productDetail/{{product.id}}">Mua</a></li>
                                                <li><a class="links-details" href=""><i class="fas fa-heart"></i></a>
                                                </li>
                                                <li><a href="#" title="quick view" class="quick-view-btn"
                                                        data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                            <!-- =========================================== -->
                            <div class="col-lg-12" ng-repeat="product in products">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <!-- <img src="update/{{product.pictureProduct}}" alt="Li's Product Image"> -->
                                            <img src="images/Shopee/12.jpg" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">Hot</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4>
                                                <!-- {{product.productName}} -->
                                                <a class="product_name"
                                                    href="single-product.html">dua</a>
                                                </h4>
                                            <div class="price-box">
                                                <!-- {{product.price}} -->
                                                <span class="new-price">200000</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a class="nav-link" ng-href="#!productDetail/{{product.id}}">Mua</a></li>
                                                <li><a class="links-details" href=""><i class="fas fa-heart"></i></a>
                                                </li>
                                                <li><a href="#" title="quick view" class="quick-view-btn"
                                                        data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                            <!-- ============================================= -->
                            <div class="col-lg-12" ng-repeat="product in products">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <!-- <img src="update/{{product.pictureProduct}}" alt="Li's Product Image"> -->
                                            <img src="images/Shopee/12.jpg" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">Hot</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4>
                                                <!-- {{product.productName}} -->
                                                <a class="product_name"
                                                    href="single-product.html">dua</a>
                                                </h4>
                                            <div class="price-box">
                                                <!-- {{product.price}} -->
                                                <span class="new-price">200000</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a class="nav-link" ng-href="#!productDetail/{{product.id}}">Mua</a></li>
                                                <li><a class="links-details" href=""><i class="fas fa-heart"></i></a>
                                                </li>
                                                <li><a href="#" title="quick view" class="quick-view-btn"
                                                        data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                            <!-- ========================================= -->
                            <div class="col-lg-12" ng-repeat="product in products">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <!-- <img src="update/{{product.pictureProduct}}" alt="Li's Product Image"> -->
                                            <img src="images/Shopee/12.jpg" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">Hot</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4>
                                                <!-- {{product.productName}} -->
                                                <a class="product_name"
                                                    href="single-product.html">dua</a>
                                                </h4>
                                            <div class="price-box">
                                                <!-- {{product.price}} -->
                                                <span class="new-price">200000</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a class="nav-link" ng-href="#!productDetail/{{product.id}}">Mua</a></li>
                                                <li><a class="links-details" href=""><i class="fas fa-heart"></i></a>
                                                </li>
                                                <li><a href="#" title="quick view" class="quick-view-btn"
                                                        data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                            <!-- ===================================================== -->
                            <div class="col-lg-12" ng-repeat="product in products">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <!-- <img src="update/{{product.pictureProduct}}" alt="Li's Product Image"> -->
                                            <img src="images/Shopee/12.jpg" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">Hot</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                        <li class="no-star"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4>
                                                <!-- {{product.productName}} -->
                                                <a class="product_name"
                                                    href="single-product.html">dua</a>
                                                </h4>
                                            <div class="price-box">
                                                <!-- {{product.price}} -->
                                                <span class="new-price">200000</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a class="nav-link" ng-href="#!productDetail/{{product.id}}">Mua</a></li>
                                                <li><a class="links-details" href=""><i class="fas fa-heart"></i></a>
                                                </li>
                                                <li><a href="#" title="quick view" class="quick-view-btn"
                                                        data-toggle="modal" data-target="#exampleModalCenter"><i
                                                            class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>